.form-control {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

mat-divider {
    background-color: white;
    color: white;
    border-top-color: white;
}
mat-checkbox {
    margin-right: 4px;
}

.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}

mat-progress-spinner {
    display: inline-block;
    margin-top: 1%;
}

#message {
    margin-top: 1%;
}