<div class="wrapper">
  <ol>
    <h1>Build a new script</h1>
    <form (ngSubmit)="submitScript()" #scriptForm="ngForm">
    <mat-list>
        <h2 mat-subheader *ngFor="let cat of categories" >
          {{cat[0]}} 
          <mat-selection-list role="list" *ngFor="let sub of cat[1]; let i = index" >
              <h5 >
              {{sub}}
            </h5>
            <mat-divider></mat-divider>
            <mat-list-option checkboxPosition="before" color="primary" role="listitem" *ngFor="let leaf of cat[i+2]">
              <p (click)="modifyScript(leaf)">{{leaf.name}}</p>
              <mat-divider md-inset></mat-divider>
            </mat-list-option>

          </mat-selection-list>
        </h2>
    </mat-list>
    <div class="form-group">
      <label for="name">Name your script</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name">
    </div>
    <button type="submit" class="btn btn-success" (click)="submitted=true" [disabled]="!script.length > 0 || !scriptForm.form.valid">Submit Script</button>
  </form>
  <h5 id="statusMessage" *ngIf="submitted">{{responseMessage}}</h5>
  </ol>


</div>
