@import '~@angular/material/prebuilt-themes/purple-green.css';

h2{
    color: darkmagenta !important;
    display: inline-block;
    text-align: left;
}
h5 {
    color: black;
    display: inline-block;
    text-align: right;
}
.wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-decoration: none;
    color: gray;
    text-transform: capitalize;
}

div.mat-list-item-content {
    padding-left: 0px !important;
}

input{
    max-width: 180px;
    margin-left: 2%;
    margin-right: auto;
}

mat-list-option{
    height: 2% !important;
    width: 100% !important;
    text-align: left;
    color: black !important;
    margin-bottom: 10% !important;
}

.smaller{
    max-width: 140px;
}


.top-align > figure.mat-figure {
    align-items: baseline !important;
}

mat-form-field{
    margin-left: 2%;
    max-width: 160px;
}

mat-select{
    color: black !important;
}

mat-option{
    color: black !important;
}

mat-divider{
    background-color: rgb(220,220,220);
    width: 100%;
}
ol{
    padding: 0;
}

div{
    text-transform: capitalize;
}

#statusMessage{
    margin-top: 5%;
    color: green;
}
