@import '~@angular/material/prebuilt-themes/purple-green.css';

h2{
    color: darkmagenta !important;
    display: inline-block;
    text-align: right;
}
h5 {
    color: black;
    display: inline-block;
    text-align: right;
}
.wrapper {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-decoration: none;
    color: gray;
    text-transform: capitalize;
}

div.mat-list-item-content {
    padding-left: 0px !important;
}

mat-list-option{
    height: 1.3% !important;
    width: 100% !important;
    text-align: left;
}

mat-divider{
    background-color: rgb(220,220,220);
    width: 100%;
}

div{
    text-transform: capitalize;
}

#statusMessage{
    margin-top: 5%;
    color: green;
}
