<div class="wrapper">
    <h1>Add media entry</h1>
    <form (ngSubmit)="onSubmit(storeForm)" #storeForm="ngForm">
      
      <div class="form-group">
        <label for="fileUrl">File</label>
        <input type="file" class="form-control" id="fileUrl" (change)="onFileSelected($event)" required [(ngModel)]="model.fileUrl" name="file">
      </div>

      <div class="form-group">
        <label for="type">Type of media</label>
        <select class="form-control" id="type" required [(ngModel)]="model.type" name="type" >
          <option *ngFor="let type of types " [value]="type">{{type}}</option>
        </select>
      </div>

      <div class="form-group" >
        <label for="category">Category</label>
        <select class="form-control" id="category" (change)="onCategorySelected($event)" required [(ngModel)]="model.category" name="cat">
          <optgroup *ngFor="let sup of categories " label="{{sup[0]}}">
              <option *ngFor="let cat of sup[1]" [value]="sup[0] + '/' + cat">{{cat}}</option>
          </optgroup>
        </select>
      </div>

      <div class="form-group" *ngIf="model.type === 'Subtitles' || model.type === 'Audio' && model.category">
        <label for="name2">{{model.type}} to what clip?</label>
        <select class="form-control" id="name2" required [(ngModel)]="model.name" name="name">
          <optgroup  label="{{selectedCategory[0]}} -> {{selectedCategory[1]}}">
              <option *ngFor="let nme of keys[selectedCategory[1]][0]" [value]="name">{{nme}}</option>
          </optgroup>
        </select>
      </div>

      <div class="form-group" *ngIf="model.type === 'Video'">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name">
      </div>

      <div class="form-group" *ngIf="model.type === 'Subtitles' || model.type === 'Audio'">
        <label for="language">Language</label>
        <select class="form-control" id="lang" required [(ngModel)]="model.language" name="lang" >
          <option *ngFor="let lang of languages " [value]="lang">{{lang}}</option>
        </select>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!storeForm.form.valid || submitted == true">Send</button>


    </form>

    <div *ngIf="successMessage != null">{{successMessage}}</div>

</div>

